langchain
langgraph
langsmith
python-dotenv
langchain-groq
langchain-openai
langchain_tavily
langchain-mcp-adapters
mcp
langgraph-cli[inmem]

sqlalchemy
strawberry-graphql
langchain-openai
langchain-anthropic
plotly
pandas
pydantic
faker